.ChordsList{  
  width:6vw;
  flex: 1 auto; 
  position: relative;
}
.Chord {  
  position: relative;
  &.active {
    .ChordName{
      opacity: 0;
    }
    .ChordBar{ 
      background: $AccentColor;;
    }
  }
} 
.ChordName, .CurrentChord{
  position: absolute;
  right: 10svw;
  top:0;
  background-color: lighten($TextColor, 50%);
  color: lighten($TextColor, 20%);
  border-radius: 5svw;
  text-align:center;  
  transition: 0.4s ease-in-out; 
  padding: 3svw 4svw;
  font-size: 1.5rem;
  font-weight: 900;
  min-width: 16svw;
}
.CurrentChord{
  top: 25svh;
  z-index: 9;
  background-color: $AccentColor;
  color: #fff;
  position: fixed; 
} 
.ChordBar {
  width: 5svw; 
  background: lighten($TextColor, 50%);
  border-radius:10px; 
  position: absolute;
  right: 0;
  height: 100%;
  transition: 0.4s ease-in-out; 
}