.Controls{
  position: fixed;
  bottom:5svh;
  left:5svh;  
  z-index: 9;
  button {
    background-color: $AccentColor;
    border: none;
    width: 6rem; 
    height: 6rem;  
    border-radius: 100%;
    color: #fff;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    img {
      display: inline-block;
    }
  }
  &.Pause {
    opacity: 0.5;   
  }
}
 